---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import FirstGrid from "../components/FirstGrid.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import gradient_img from "../assets/i_got_this_gradient_from_david_rudnicks_website.png"


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="gradient">
		<Image class="gradient_img" src={gradient_img} alt="gradient"/>
	</div>

	<Welcome />
	<FirstGrid />
	<Footer />
</Layout>

<style>
	.gradient {
		z-index: 99;
		position: fixed;
		width: 100%;
		//left: 50%;
		//margin-left: -50%;
		//margin-top: 80px;
	}
	.gradient_img {
		width: 100%;
		margin-top: -17px;
		rotate: 180deg;
		opacity: 100%;
		//filter: chroma(9);

	}
</style>