---
import GaramondInsetShadow from "./GaramondInsetShadow.astro";
import AppleLogo from '../assets/apple.png';
import { Image } from "astro:assets";
---

<section>

	<div class="wrapper">
		<Image src={AppleLogo} alt="Apple Logo" class="apple-logo" width={300} />
	
		<GaramondInsetShadow class="text88" >
			Download on the

			<br>
		
			<u>App Store</u> →
		</GaramondInsetShadow>
	</div>

</section>

<style>

 section {
	 display: flex;
	 margin: 0 auto;
	 width: 100%;
	 min-height: 40rem;
 }

 .wrapper {
	 max-width: 50rem;
	 margin: auto !important;
	 display: flex;
 }
 
 :global(.text88) {
	
	 text-align: left !important;
	 line-height: 83%;
	 margin: auto !important;

 }
</style>
