---
import LCDTimerMeshGradient from "./LCDTimerMeshGradient.astro";
---

<section>

	<LCDTimerMeshGradient />

	<h2>
		The Elevator Pitch
	</h2>

	<p>
		Imagine you are a watching a movie and a soundbite catches your eye - a new sample idea. But how do you
		get it off the movie into your DAW?

		<br>

		Your first thought is to use a screen recorder that records system sound (does not come with macOS!), start
		recording, then trim it, export as mp3, and then put it somewhere in your folder...this takes around a minute
		or two

		<br>

		or...you can download RM2000 Tape Recorder and do all of this in seconds.
	</p>

</section>

<style>
	h2, p {
		color: white;
		font-family: "Lucida Grande",monospace;

	}

</style>



