---
import LCDTimerMeshGradient from "./LCDTimerMeshGradient.astro";
import RecordingTapeImage from '../assets/recording tape 2x.png';
import { Image } from "astro:assets";
import SpeedOfThought from "./SpeedOfThought.astro";
import GaramondInsetShadow from "./GaramondInsetShadow.astro";
import LucidaParagraph from "./LucidaParagraph.astro";
import PulsatingRecordButton from "./PulsatingRecordButton.astro";
import BrassXLR from '../assets/brass xlr2x.png'
import VUMeter from "./VUMeter.astro";
import RightColumn from "./RightColumn.astro";
---

<section class="parent-grid">

	<LCDTimerMeshGradient class="gradient_mesh" />

	<RightColumn class="walltext right-column-style">

		<div>

			<SpeedOfThought />

			<div style="display: flex; justify-content: flex-end; padding-right: 2.8rem; padding-top: 0.2rem; z-index: 99; position: relative;">
				<PulsatingRecordButton />

				<Image src={BrassXLR} width={100} alt="Eye" quality={100} />
			</div>

		</div>

		<Image class="recordingtapeimage" src={RecordingTapeImage} alt="Recording Tape" width={300}/>

	</RightColumn>

	<div class="effortless_organization_section">
		<GaramondInsetShadow class="remove-top-margin">
			No routing. No setup.
		</GaramondInsetShadow>

		<div class="vu-section">
			<LucidaParagraph style="max-width: 20rem;" >
				RM2000 Tape Recorder works straight out of the box and hears what you hears. No more fighting with Soundflower or audio routing.
			</LucidaParagraph>

			<VUMeter />
		</div>

	</div>

</section>


<!-- little decor -->
<div style="position: relative;">
	<section>
	</section>
	<div class="rectangleradial"></div>
</div>


<style>

 .rectangleradial {
	 position: absolute;
	 padding: 4px;
	 z-index: 10;
	 left: 0;
	 right: 0;
	 height: 5px;
	 background: radial-gradient(ellipse 20% 100%, rgba(140,152,156, 0.2), #000000, #512F24 270%);
	 top: calc(50% - min(45vw, 28rem));
	 z-index: 3;
 }


 .recordingtapeimage {
	 margin-top: auto;
	 filter: contrast(100%) brightness(100%);
	 display: flex;
	 margin-left: auto;
	 padding-bottom: 5rem;
	 padding-right: 1.5rem;
 }

 .effortless_organization_section {
	 background: linear-gradient(
		 90deg,
		 rgba(227, 233, 231, 0.3) 0%,
		 rgb(0, 2, 14) 25%,
		 rgba(0, 0, 0, 0) 100%
	 );
	 border: 0.5rem solid;
	 border-inline: 0;
	 border-image-slice: 1;
	 border-image-source: linear-gradient(
		 to right,
		 rgba(227, 233, 231, 0.2),
		 rgba(151, 151, 151, 0.48),
		 rgba(151, 151, 151, 0),
		 rgba(151, 151, 151, 0)
	 );
	 height: 23rem;
 }

 :global(.vu-section) {
	 display: flex;
	 gap: 10rem;
	 margin-left: 5rem;
 }

 :global(.remove-top-margin) {
	 margin-top: 3rem !important;
	 margin-bottom: 1rem !important;
 }

 .parent-grid {
	 display: grid;
	 grid-template-columns: 0.5fr 1fr;
	 grid-template-rows: 2fr;
	 grid-template-areas:
		 'gradient_mesh walltext'
		 'effortless_organization_section walltext'

 }

 /* responsive design, fuck yeahhh */
 @media (max-width: 900px) {

	 /* make the parent grid single column only */
	 .parent-grid {
		 grid-template-columns: 1fr;
		 grid-template-rows: auto auto auto; 
		 grid-template-areas:
			 'walltext'
			 'gradient_mesh'
			 'effortless_organization_section';
		 display: flex; 
		 flex-direction: column; /* Stack items vertically */
		 gap: 6rem;  /* leave some gap in between elements */
		 align-items: center;
	 }

	 :global(.vu-section) {
		 gap: 3rem;
		 margin-left: 0;
		 flex-direction: column;
		 align-items: center;
	 }

	 .effortless_organization_section {
		 height: 100%;
		 width: 100%;
		 background: linear-gradient(
			 90deg,
			 rgba(227, 233, 231, 0.3) 0%,
			 rgb(0, 2, 14) 90%,
			 rgba(0, 0, 0, 0) 100%
		 );
	 }

	 .recordingtapeimage {
		 display: none;
	 }

	 .rectangleradial {
		 display: none;
	 }
 }

 /* declaration stuff */
 
 :global(.parent-grid > .gradient_mesh) {
	 grid-area: gradient_mesh;
 }

 :global(.parent-grid > .walltext) {
	 grid-area: walltext;
 }

 .parent-grid > .effortless_organization_section {
	 grid-area: effortless_organization_section
 }

</style>
