---
import LCDTimerMeshGradient from "./LCDTimerMeshGradient.astro";
import RecordingTapeImage from '../assets/recording tape 2x.png';
import Eye from '../assets/Eye.svg';
import { Image } from "astro:assets";
import SpeedOfThought from "./SpeedOfThought.astro";
import GaramondInsetShadow from "./GaramondInsetShadow.astro";
import LucidaParagraph from "./LucidaParagraph.astro";
import PulsatingRecordButton from "./PulsatingRecordButton.astro";
import BrassXLR from '../assets/brass xlr2x.png'
import VUMeter from "./VUMeter.astro";
---

<section>

	<LCDTimerMeshGradient class="gradient_mesh" />

	<div class="walltext">
		<!-- https://codepen.io/adambundy/pen/AvYvQG -->

		<SpeedOfThought />

		<div style="display: flex;">
			<PulsatingRecordButton />

			<Image src={BrassXLR} width={100} alt="Eye" quality={100} />
		</div>

		<Image class="recordingtapeimage" src={RecordingTapeImage} alt="Recording Tape" width={300}/>

	</div>

	<div class="effortless_organization_section">
		<GaramondInsetShadow class="remove-top-margin">
			No routing. No setup.
		</GaramondInsetShadow>

		<div style="display: flex; gap: 5rem; margin-right: 0;">
			<LucidaParagraph style="max-width: 30rem;" >
				RM2000 Tape Recorder works straight out of the box and hears what you hears. No more fighting with Soundflower or audio routing.
			</LucidaParagraph>

			<VUMeter />
		</div>

	</div>

</section>

<div class="rectangleradial"></div>

<style>
	.walltext {
		display: flex;
		gap: 3rem;
		flex-direction: column;
		max-width: 35em;
		min-height: 30rem;
		background: rgb(0, 1, 15);
		background: linear-gradient(180deg, rgba(227, 233, 231, 0.24) 1%, rgb(0, 2, 14) 50%, rgb(0, 2, 14) 73%, rgba(227, 233, 231, 0.2) 100%);
		border: 0.7rem solid;
		border-top: 0;
		border-image-slice: 1;
		border-image-source: linear-gradient(
			to bottom,
			rgba(227, 233, 231, 0.2),
			rgba(151, 151, 151, 0.48),
			rgba(151, 151, 151, 0),
			#979797
		);
	}

	.rectangleradial {
		padding: 10px;
		background: rgb(0, 1, 15);
		min-height: 5px;
		background: radial-gradient(ellipse 80% 60% at 50% 80%, #512f24, #212732, #00010f 65%);
		bottom: -50px;
	}

	.recordingtapeimage {
		margin-top: auto;
		filter: contrast(100%) brightness(100%);
		display: flex;
		margin-left: auto;
		padding-bottom: 5rem;
		padding-right: 1.5rem;
	}

	.effortless_organization_section {
		background: linear-gradient(90deg,rgba(227, 233, 231, 0.3) 0%, rgb(0, 2, 14) 25%, rgba(0, 0, 0, 0) 100%);
		border: 0.5rem solid;
		border-inline: 0;
		border-image-slice: 1;
		border-image-source: linear-gradient(
			to right,
			rgba(227, 233, 231, 0.2),
			rgba(151, 151, 151, 0.48),
			rgba(151, 151, 151, 0),
			rgba(151, 151, 151, 0)
		);
		min-height: 15rem;
	}

 :global(.remove-top-margin) {
	 margin-top: 3rem !important;
 }

	/*TODO - think about min-maxing stuff like this for mobile devices */

	section {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-template-areas:
			'gradient_mesh walltext'
			'effortless_organization_section walltext'

	}

	section > .gradient_mesh {
		grid-area: gradient_mesh;
	}

	section > .walltext {
		grid-area: walltext;
	}

	section > .effortless_organization_section {
		grid-area: effortless_organization_section
	}

</style>



