---
import LucidaParagraph from "./LucidaParagraph.astro";
import { Image } from "astro:assets";
import World from '../assets/world.svg'
---
<footer>
	<section>
		<div class="text-section">
			<LucidaParagraph class="leftalign">				
				© 2025 <b>Marcelo Mendez</b>

				<br> <br>

				RM2000 Tape Recorder works completely offline, stores all of your samples with longetivity in mind, and features a beautiful user interface. There are still many features are yet to come out - stay tuned! 

				<br> <br>

				<a href="/privacy-policy" >Press Kit</a>

				<br> <br>

				Need direct support? Want to file a bug report? Please contact me:
				<br>
				<a href="mailto:marcelomendez@live.com">marcelomendez@live.com</a>
			</LucidaParagraph>

		</div>
		<Image src={World} alt ="world" class="world-svg" />

	</section>
</footer>

<style>
 h1 {
	 color: white;
 }

 footer {
	 min-height: 30rem;
	 & 	section {
		 width: 100%;
		 min-height: 30rem;
		 height: 105%;
		 position: relative;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 justify-content: center;
		 overflow: hidden; /* Ensure the pseudo-element does not overflow */
	 }

	 & section::before {
		 content: "";
		 position: absolute;
		 inset: 0; /* Cover the entire section */
		 background: radial-gradient(ellipse 100% 100% at 50% 90%, #332e37 4%, #1e1a25,  #00010f 65%);
		 filter: blur(4px);
		 z-index: 0; /* Send it behind the content */
	 }
 }

 .text-section {

	 padding-top: 5em;
	 text-align: center;
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 max-width: 50em;
 }

 
 .world-svg {
	 margin-top: auto;
	 display: flex;
	 margin-bottom: -1rem;
	 position: relative;
 }

 :global(.leftalign) {
	 text-align: left !important;
 }

 a {
	 color: white;
 }

 
</style>
