---
const { class: className, style: styleAttr } = Astro.props;
---
<h2 class:list={[className]} style={styleAttr}>
    <slot />
</h2>

<style>
    h2 {
        color:  #898A8B;
        font-family: "ITCGaramond";
        font-size: 70px;
        margin: 0;
        text-align: center;
		font-weight: 1;
    }
</style>
