---
import SplashImage from "./SplashImage.astro";
import MacIcon from '../assets/Mac_15mm-to-25mm_grayscale.png';
import UniversalIcon from '../assets/Mac_Universal_logo.png';
import MacAppStoreSticker from '../assets/mac_app_store_sticker.svg';
---

<section>

	<div class="alignment">
		<div class="stickers">
			<img src={UniversalIcon.src}>

			<img src={MacIcon.src}>
		</div>
   		<SplashImage />
		<div class="app-store-button">
			<a href="https://apps.apple.com/us/app/rm2000-tape-recorder/id6742876939">
				<img src={MacAppStoreSticker.src}>
			</a>
		</div>
	</div>
	<div class="text-section">
		<h1>
			RM2000<span>
			Tape Recorder
			</span>

			<br>

			<span>for Macintosh</span>
		</h1>
	</div>
</section>

<style>
 section {
	 max-width: 100%;
	 min-height: 400px;
	 height: 105%;
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 overflow: hidden; /* Ensure the pseudo-element does not overflow */

 }

 section::before {
	 content: "";
	 position: absolute;
	 inset: 0; /* Cover the entire section */
	 background: radial-gradient(ellipse 80% 60% at 50% 80%, #c1c6c4 4%, #959d9f, #6c757a, #454e56, #212732, #00010f 65%);
	 filter: blur(4px);
	 z-index: 0; /* Send it behind the content */
 }

 .text-section {

	 padding-top: 0;
	 text-align: center;
	 position: relative;
	 * {
		 font-family: "Lucida Grande",sans-serif;
		 color: #030408;
		 letter-spacing: -2.3px;
		 font-weight: 10;

	 }

	 h1 {
		 font-size: 230%;
	 }
	 span {
		 font-size: 70%;
	 }
 }

 .alignment {
	 display: flex;
	 flex-direction: row;
	 position: relative;
	 z-index: 99;
 }

 .app-store-button {
	 flex: 1;
	 display: flex;
	 position: relative;
	 margin-right: auto;
	 margin-top: auto;
	 padding-bottom: 5rem;
	 left: 3.5rem;

	 a {
		 img {
			 width: 10rem;

		 }
	 }
 }

 .stickers {
	 flex: 1;
	 position: relative;
	 display: flex;
	 align-items: flex-start;
	 gap: 1rem;
	 margin-left: auto;
	 margin-top: auto;
	 padding-bottom: 5rem;
	 right: 1.2rem;
	 width: 10rem;
	 
	 img {
		 width: 2.5rem;
		 height: auto;
		 max-width: 100%;
	 }
 }

 @media (max-width: 900px) {
	 section::before {
		 background: radial-gradient(ellipse 80% 60% at 50% 80%, #c1c6c4 4%, #959d9f, #6c757a, #454e56, #212732, #00010f 100%) !important;
	 }

	 .stickers {
		 right: 0.5rem;
	 }

	 .app-store-button {
		 left: 2.2rem;
	 }
 }
 
 @media (max-width: 650px) {
	 .text-section {
		 h1 {
			 font-size: 180%;
		 }
	 }

	 .stickers {
		 display: none;
	 }

	 .app-store-button {
		 display: none;
	 }

 }
</style>
