---
import HeroImage from "./HeroImage.astro";
---

<section>
	<h1>
		00:00
	</h1>

</section>

<style>
	h1 {
		color: white;
		font-family: "Tachyo",monospace;
		font-size: 2000%;
		font-weight: 10;
	}

</style>



