---
const { class: className, style: styleAttr } = Astro.props;
---

<p class:list={[className]} style={styleAttr}>
    <slot />
</p>

<style>
    p {
        font-family: "Lucida Grande",monospace;
        padding-inline: 50px;
        letter-spacing: -1.1px;
		line-height: 1.5rem;
        color: #898A8B;
		font-size: 110%;
		font-weight: 1;
    }
</style>
