---
const { class: className } = Astro.props;
---

<p class:list={[className]}>
    <slot />
</p>

<style>
    p {
        font-family: "Lucida Grande",monospace;
        padding-inline: 50px;
        letter-spacing: -1.1px;
        color: #898A8B;
    }
</style>