---
import GaramondInsetShadow from "./GaramondInsetShadow.astro";
import LucidaParagraph from "./LucidaParagraph.astro";
---

<section>
    <GaramondInsetShadow class="topmargin">
        At the speed of thought
    </GaramondInsetShadow>

    <LucidaParagraph class="rightalign">
        Your Mac plays sound all day - it just doesn't make it easy to <i>keep</i> any of it.

        <br> <br>

        Recording system audio is still very clunky: audio routing hacks, third-party tools that aren't meant for the task - too many steps.

        <br> <br>

        RM2000 Tape Recorder just listens. Whatever your Mac is playing, it can record it instantly - then, lets you file, tag, and organize it.
    </LucidaParagraph>
</section>


<style>
    :global(.rightalign) {
        text-align: right;
		margin-bottom: 0 !important;
    }

 :global(.topmargin) {
	 margin-top: 6rem !important;
	 text-align: right !important;
	 padding-inline: 50px;
 }
</style>
