---
import GaramondInsetShadow from "./GaramondInsetShadow.astro";
import LucidaParagraph from "./LucidaParagraph.astro";
---

<section>
    <GaramondInsetShadow class="topmargin">
        Speed of Thought
    </GaramondInsetShadow>

    <LucidaParagraph class="rightalign">
        You're browsing YouTube. You’re in a game menu. You hear a loop on Apple Music. A sound stands out.

        <br> <br>

        On macOS, recording system audio is still very clunky: audio routing hacks, third-party tools that aren't meant for the task - too many steps.

        <br> <br>

        RM2000 Tape Recorder just listens. Whatever your Mac is playing, it can record it instantly - then, file, tag, and organize it for you.
    </LucidaParagraph>
</section>


<style>
    :global(.rightalign) {
        text-align: right;
		margin-bottom: 0 !important;
    }

 :global(.topmargin) {
	 margin-top: 6rem !important;
 }
</style>
