---
import background from '../assets/rm2000_logo.png';
---

<div class="container">
	<img src={background.src} alt="Logo" fetchpriority="high" />
	<h1>coming soon</h1>
</div>

<style>

	@font-face {
		font-family: "TheNeue-Black";
		src: url("/fonts/TheNeue-Black.woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #EF721D;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	img {
		width: 100%;
		max-width: 1000px;
		min-width: 300px;
		margin-bottom: 2rem;
		object-fit: contain;
	}

	h1 {
		color: #dbd5d5;
		-webkit-text-stroke: 1.5px black;
		font-size: 3rem;
		font-family: 'TheNeue-Black',monospace;
	}
</style>