<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>RM2000 Tape Recorder - now on TestFlight</title>
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9a1d855533d14b3bb79da924e683df09"}'>

		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		max-width: 1400px;
		display: block;
		margin: 0 auto;
	}

</style>
